@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  margin: 0;
  padding: 0;
}
#__next {
  min-height: 100%;
}

.q2--gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    119deg,
    rgba(14, 57, 107, 1) 0%,
    rgba(13, 17, 57, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    119deg,
    rgba(14, 57, 107, 1) 0%,
    rgba(13, 17, 57, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    119deg,
    rgba(14, 57, 107, 1) 0%,
    rgba(13, 17, 57, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0D1139', endColorstr='#0E396B', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    119deg,
    rgba(14, 57, 107, 1) 0%,
    rgba(13, 17, 57, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    119deg,
    rgba(14, 57, 107, 1) 0%,
    rgba(13, 17, 57, 1) 100%
  );
}
